@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.container .image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.container header {
	font-size: 4em;
	font-weight: 600;
	color: #fff;
	text-align: center;
	/* padding: 0.5em; */
	/* border: 8px solid orangered;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px; */
}

.container p {
	font-size: 1.5em;
	font-weight: 400;
	color: #fff;
	max-width: 500px;
	text-align: center;
}

.container .time-content {
	display: flex;
	column-gap: 2.5em;
	align-items: center;
}

.time-content .time {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.time .number,
.time .text {
	font-weight: 500;
	color: orangered;
}

.time .number {
	font-size: 4.5em;
}

.time .text {
	text-transform: capitalize;
	font-size: 1.5em;
}

.email-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 2em;
}

.email-content p {
	font-size: 1em;
}

.input-field {
	display: flex;
	align-items: center;
	height: 3em;
	max-width: 320px;
	width: 100%;
	margin-top: 1em;
	column-gap: 1em;
}

.input-field input,
.input-field button {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	/* border: 1px solid orangered; */
	/* border-top-left-radius: 1em;
	border-bottom-right-radius: 1em; */
	border-radius: 1em;
	font-weight: 400;
}

.input-field input {
	width: 100%;
	padding-left: 0.5em;
	color: #fff;
}

.input-field input::placeholder {
	color: #fff;
}


.input-field input:focus {
	border: 1px solid #fff;
}

.input-field button {
	cursor: pointer;
	white-space: nowrap;
	padding-inline: 1.5em;
	transition: all 0.3s ease;
}

.input-field button:hover {
	background-color: #fff;
	/* border: 1px solid #fff; */
	color: orangered;
}

@media screen and (max-width: 860px) {
	.container header {
		font-size: 3em;
		/* padding: 0.5em; */
	}

	.container p {
		padding-inline: 0.5em;
	}

	.container .time-content {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (max-width: 359px) {
	.container header {
		font-size: 2.5rem;
		padding: 0.5em;
	}

	.input-field {
		flex-wrap: wrap;
		row-gap: 1em;
		justify-content: center;
		padding-inline: 1em;

	}
}